<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Linterna y Red
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Linterna y Red</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Encender linterna</p>
  <ion-toggle (ionChange)="switchFlash($event)"></ion-toggle><br /><br />


  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
