<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <p *ngIf="nuevaPosicion !== ''">{{nuevaPosicion}}</p>
  <p *ngIf="latitud !== 0">Latitud: {{latitud}}</p>
  <p *ngIf="longitud !== 0">Longitud: {{longitud}}</p>
  <ion-button (click)="obtenerPosicion()" expand="block" fill="clear" shape="round">
    Obtener posicion
  </ion-button>
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>
